@import "vars.less";
@import "mixins.less";

//Webfonts
@font-face {
	font-family: Iceland;
	src:url(../font/Iceland/Iceland-Regular.ttf);
}

* {
	font-family: 'Iceland', 'sans-serif','\5FAE\8F6F\96C5\9ED1'
}
body {
	position: relative;
	font-size:1.1em;
}
a{
	.transition(all .2s linear);
}
.mod_dummy{
	.opacity(50);
	cursor: default !important;
}
//Bootstrap overrides - S
//------------------------
.container,.container-fluid{
	position:relative;
}
.navbar .brand{
	padding-top:5px;
	padding-bottom:0;
}
//Bootstrap overrides - E


.page_main{
	padding-top: 65px;
}
.mod_circle{
	position:relative;
	height: 40px;
	width:40px;
	text-align: center;
	line-height: 40px;
}
.mod_circlebg{
	border: 2px solid rgb(255, 255, 255);
	border-image: initial;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: transparent;
	border-radius: 50%;
}
.mod_circlebd{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-radius: 50%;
}
.mod_demo{
	margin:20px auto;
	width:768px;
	border:2px solid #eee;
	.demo_bd{
		padding:20px;
		background-color: #f6f6f6;
	}
	.demo_ft{
		padding:20px;
		text-align: center;
	}
	h3{
		text-align:center;
		margin-bottom: 15px;
	}
	.demo_tip{
		margin-top:15px;
		text-align:center;
	}
}
.mod_demoA{
	border:none;
	margin:0 auto;
	.demo_bd{
		background-color: transparent;
	}
}
footer{
	position:fixed;
	bottom:0;
	right:20px;
}
.row_A{
	margin-top: 65px;
}
//通用slogan模块
.slogan-unit{
	text-align:center;
	position:relative;
	margin:100px auto 50px;
	h1{
		font-size:90px;
		line-height: 1.2em;
	}
}
.slogan-unit-bd{
	margin:25px 0;
}
.slogan_bg1,.slogan_bg2{
	opacity: 0.5;
	padding:5px 0 0 0;
}
.slogan_bg1{
	border-top:1px solid @sloganBGColor;
	border-bottom:2px solid @sloganBGColor;
}
.slogan_bg2{
	border-top:2px solid @sloganBGColor;
	border-bottom:1px solid @sloganBGColor;
}

.site_bg{
	position: fixed;
	left:0;
	top:0;
	width: 100%; 
	height:100%;
}